@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* header */

.header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  border-bottom: 1px solid #ddd;
}

.header-title {
  font-weight: bold;
}

.nav__menu {
  display: flex;
}

.nav__menu > li {
  padding: 8px 12px;
}